{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="jumbotron" id="wave">
</div>
<div class="jumbotron" id="iphone">
</div>
<div class="jumbotron" id="landing">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l9 xl8">
				<h1>Introducing Whing</h1>
				<p>Whing is world's first blockchain-based bulletinboard hub. Whing is designed to revolutionize old centralized community and overcome the limitation of blockchain communities all around the world. Anyone can easily apply a reward system to their site by installing our plug-in. Through Whing, users can be rewarded as they write articles and vote each other.</p>
				<a class="btn sign-up-modal-trigger">Get started</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}