{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="jumbotron" id="wave">
</div>
<div class="jumbotron" id="iphone">
</div>
<div class="jumbotron" id="landing">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l9 xl8">
				<h1>Introducing Whing</h1>
				<p>Whing is world's first blockchain-based bulletinboard hub. Whing is designed to revolutionize old centralized community and overcome the limitation of blockchain communities all around the world. Anyone can easily apply a reward system to their site by installing our plug-in. Through Whing, users can be rewarded as they write articles and vote each other.</p>
				<a class="btn sign-up-modal-trigger">Get started</a>
			</div>
		</div>
	</div>
</div>
<div id="problems">
	<div class="container center-align">
		<h1>Problems</h1>
		<div class="divider"></div>
		<div class="row">
			<div class="col s12 m4">
				<div class="mycard z-depth-2">
					<img class="responsive-img" src="{% static 'images/sitedependency.png' %}">
					<h1>Platform dependent</h1>
					<p>Users must abandon their communities in which useer base and data are accumulated.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="mycard z-depth-2">
					<img class="responsive-img" src="{% static 'images/centralizationbycapital.png' %}">
					<h1>Broken token economy</h1>
					<p>Users with a lot of capital can easily influence on existing Dapps without making a valuable contribution to the community.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="mycard z-depth-2">
					<img class="responsive-img" src="{% static 'images/middleman.png' %}">
					<h1>Middle men</h1>
					<p>The middle men take all the profits, and platform users do not receive proper compensation for their contributions.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
