@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

@font-face {
    font-family: 'acre-medium';
    src: url('/static/fonts/acre-medium-webfont.woff2') format('woff2'),
         url('/static/fonts/acre-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
color palette
text: #464646
background-grey: #edf0f2
line-grey: #e0e0e0
purple: #6534FF
*/

* {
	font-family: 'Nunito Sans', sans-serif;
	color: #464646;
}

p {
	text-align: justify;
}

html {
	background-color: #edf0f2;
}

.progress .determinate {
	background-color: #6534FF;
}

span.circled-number {
	display: inline-block;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	padding: 0 7px;
	border: 1px solid black;
	font-size: 14px;
	margin-right: 10px;
}

.brand-logo {
	font-family: 'acre-medium', 'Nunito Sans', sans-serif;
}

.brand-logo img {
	height: 31.5px;
	margin-right: 10px;
	position: relative;
	top: 4px;
}

.brand-logo.center {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
}

.btn-flat {
	border: 1px solid #6534FF;
	text-transform: none;
}

.btn {
	box-shadow: none;
	text-transform: none;
	background-color: #6534FF;
}

.btn:hover {
	background-color: #6534FF;
}

.divider {
	margin-bottom: 20px;
}

.flap-btn {
	display: inline-block;
	margin-right: 10px;
	padding: 4px;
	border-radius: 100%;
	border: 1px solid #6534FF;
	height: 26px;
}

.flap-btn img {
	width: 16px;
	height: 16px;
	margin: 0 !important;
}

.flap-btn.flap-btn-large {
	padding: 15px;
	height: 62px;
}

.flap-btn.flap-btn-large img {
	width: 30px;
	height: 30px;
}

nav.white .brand-logo, nav.white ul a, nav i, nav {
	color: #464646;
}

nav ul.right li {
	vertical-align: middle;
	max-height: 64px;
}

nav ul.right img {
	border-radius: 100%;
	height: 64px;
	width: 64px;
	padding: 10px;
	line-height: 64px;
}

nav ul.right a.dropdown-trigger {
	padding: 0;
}

nav ul.right i {
	margin: 0;
}

.modal-with-tabs.modal .modal-content {
	padding: 0;
}

.modal-with-tabs.modal {
	color: black;
	background-color: white;
	max-width: 400px;
}

.modal-with-tabs .tabs {
	height: 70px;
}

.modal-with-tabs .tabs .tab {
	height: 70px;
}

.modal-with-tabs .tabs .tab a {
	line-height: 70px;
	background-color: #edf0f2;
	color: black;
}

.modal-with-tabs .tabs .tab a.active {
	color: black;
	background-color: white;
	border-top: 2px solid #6534FF;
}

.modal-with-tabs .tabs .indicator {
	top: 0;
	background-color: #6534FF;
	display: none;
}

.jumbotron {
	width: 100%;
}

.jumbotron h1 {
	color: black;
}

.jumbotron p {
	color: #464646;
}

.jumbotron#wave {
	position: absolute;
	background-color: white;
	background-image: url('/static/images/wave.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.jumbotron#iphone {
	position: absolute;
	background-image: url('/static/images/iphone.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.jumbotron#landing {
	position: relative;
}

@media screen and (max-width: 600px) {
	.jumbotron#landing h1 {
		font-size: 50px;
	}

	.jumbotron {
		height: 500px;
	}

	.jumbotron#landing {
		padding-top: 20px;
	}
}

@media screen and (min-width: 601px) {
	.jumbotron {
		height: 700px;
	}

	.jumbotron#landing {
		padding-top: 150px;
	}
}

@media screen and (min-width: 993px) {
	.jumbotron {
		height: 860px;
	}

	.jumbotron#landing {
		padding-top: 150px;
	}
}

#problems {
	background-color: #f8f9fd;
	padding-top: 60px;
	padding-bottom: 60px;
}

#problems h1 {
	font-size: 30px;
	font-weight: 600;
	color: #454646;
	margin-top: 0;
	margin-bottom: 5px;
}

#problems .divider {
	width: 100px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 40px;
	border-bottom: 3px solid #6534FF;
}

#problems img {
	width: 60% !important;
	margin-bottom: 20px;
}

#problems .mycard {
	padding: 30px;
	height: 415px;
}

#mypage, #install {
	margin-top: 15px;
}

.mycard {
	background-color: white;
	padding: 15px;
	margin-bottom: 10px;
}

#profile img {
	border-radius: 100%;
}

#profile-sub, #information-sub {
	vertical-align: middle;
	border-top: 1px solid #e0e0e0;
	padding-top: 20px;
}

#profile-sub > div > p:first-child, #information-sub > div > p:first-child {
	width: 35%;
	text-align: left;
}

#url > * {
	display: inline-block;
}

#url > p:last-child {
	width: 65%;
	text-align: right;
}

#description > * {
	display: inline-block;
}

#description > p:last-child {
	width: 65%;
	text-align: right;
}

#voting-power > * {
	display: inline-block;
}

#voting-power .progress {
	width: 40%;
	vertical-align: middle;
	margin: auto 0;
}

#voting-power > p:last-child {
	width: 25%;
	font-size: 10px;
	text-align: center;
}

#account-balance > p {
	display: inline-block;
}

#account-balance > p:nth-child(2) {
	width: 65%;
	text-align: right;
	font-size: 12px;
}

#address > p {
	display: inline-block;
}

#address > input {
	width: 65%;
	text-align: right;
	word-break: break-all;
	font-size: 10px;
	border-bottom: 0;
}

#joined-sites .collection, #owned-sites .collection {
	border: none;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 20px;
}

#joined-sites .btn, #owned-sites .btn, #joined-sites .btn:hover, #owned-sites .btn:hover {
	background-color: #8986ce;
}

.collection.with-header .collection-item.avatar {
	padding-right: 60px;
}

#install-index.mycard {
	padding: 10px;
}

#install-index p {
	margin: 0;
	padding: 10px;
}

#install-index p.active {
	background-color: #6534FF;
	color: white;
	font-weight: bold;
}

#install-index p.active span.circled-number {
	border-color: white;
	border-width: 2px;
	padding: 0 6.5px;
	color: white;
}

.board {
	padding-top: 20px;
}

.article {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 15px;
}

.article .square-image-wrapper {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.article .article-info-header * {
	display: inline-block;
	vertical-align: middle;
}

.article .article-info-header img {
	margin-right: 10px;
}

.article h4, .article p, .article .article-info-header, .article .article-info-footer {
	margin: 5px 0;
}

.article .article-info-header {
	margin-bottom: 10px;
}

.article .article-info-footer {
	margin-top: 10px;
}

.article h4 {
	font-weight: bold;
}

.article .article-info-footer * {
	vertical-align: middle;
	height: 100%;
	padding-right: 5px;
}

.article-info-detail img {
	width: 24px;
	height: 24px;
}

.article-info-detail i {
	border-radius: 100%;
	border: 1px solid #6534FF;
	color: #6534FF;
	padding: 0 !important;
	margin-right: 5px;
}

.article-info-detail {
	display: inline-block;
	margin-right: 10px;
	border-right: 1px solid #e0e0e0;
	padding: 0 5px;
}

.article-info-detail > * {
	display: inline-block;
	vertical-align: middle;
}

.article-info-detail:first-child {
	padding-left: 0;
}

.article-info-detail:last-child {
	border-right: none;
	padding-right: 0;
}

@media screen and (max-width: 769px) {
	.article .thumbnail {
		margin-bottom: 15px;
	}

	.article h4 {
		font-size: 16px;
		line-height: 22px;
		text-align: left;
	}

	.article-modal h3 {
		font-size: 20px !important;
		line-height: 26px;
		text-align: left;
	}

	.article-modal .text {
		font-size: 14px !important;
		line-height: 18px !important;
	}
}

@media screen and (min-width: 770px) {
	.block-with-text {
	  overflow: hidden;
	  position: relative; 
	  line-height: 1.3em;
	  max-height: 2.6em; 
	  font-size: 1.4em;
	  text-align: justify;  
	  margin-right: -1em;
	  padding-right: 1em;
	}

	.block-with-text:before {
	  content: '...';
	  position: absolute;
	  right: 0;
	  bottom: 0;
	}

	.block-with-text:after {
	  content: '';
	  position: absolute;
	  right: 0;
	  width: 1em;
	  height: 1em;
	  margin-top: 0.2em;
	  background: white;
	}
	
	.article .thumbnail {
		float: right;
		top: 0;
		right: 0;
		height: 177.594px;
		width: 177.594px;
	}

	.article .article-info {
		padding-right: 187.594px;
	}
}

.article-modal.open {
	width: 100%;
	max-height: 100%;
	height: 100%;
	top: 0 !important;
}

.article-modal > img {
	float: left;
	margin-right: 10px;
}

.article-modal h3 {
	font-size: 40px;
	font-weight: bold;
}

.article-modal > div:first-child {
	margin-top: 30px;
	margin-bottom: 20px;
}

.article-modal .modal-content {
	max-width: 900px;
	margin: auto;
}

.article-modal .article-modal-header {
	margin: 25px 0;
}

.article-modal .article-modal-header > img:first-child {
	float: left;
	margin-right: 10px;
}

.article-modal .text {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 15px;
}

.article-modal .modal-close {
	font-size: 20px;
}

.article-modal .modal-close * {
	color: #039be5;
	vertical-align: middle;
}

.article-modal .divider {
	margin: 25px 0;
}

.article-modal .article-modal-footer {
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 20px;
	margin-top: 100px;
}

.article-modal .article-modal-footer > * {
	display: inline-block;
	vertical-align: middle;
}

.article-modal .article-modal-footer .right {
	height: 62px;
	padding: 15.5px 0;
}

.article-modal .article-modal-footer .right > * {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0 10px;
}

.article-modal .article-modal-footer .right > *:last-child {
	padding-right: 0;
}

.article-modal .article-modal-footer .right img {
	margin-right: 5px;
}

.comment {
	background-color: transparent !important;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	padding-left: 25px;
	padding-right: 25px;
}

.comment .comment-info-header {
	margin: 0;
	margin-bottom: 10px;
}

.comment .comment-info-header * {
	display: inline-block;
	vertical-align: middle;
}

.comment .comment-info-header > img {
	margin-right: 5px;
}

.comment-section .comment-info-footer > * {
	display: inline-block;
	vertical-align: middle;
}

.comment-section .comment-info-footer i {
	text-align: center;
	border-radius: 100%;
	border: 1px solid #6534FF;
	color: #6534FF;
	margin-right: 5px;
}

.comment-section .comment-info-footer .right > * {
	display: inline-block;
	vertical-align: middle;
}

.comment-section .comment-form form {
	padding: 5px 25px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;
}

.comment-section .comment-form form input {
	border-bottom: none;
	margin: 0;
}

.comment-section .comment-form form input:focus {
	border-bottom: none !important;
	box-shadow: none !important;
}